<h1>Angular</h1>

<hr>

<h2>Typescript</h2>
<h4>Esta realizado en un subcomponent, se resuelve y se incrusta</h4>
<app-typescript></app-typescript>

<hr>

<h2>Union de propiedades y eventos</h2>
<app-binding></app-binding>

<hr>

<h2>Sub-components</h2>
<app-sub-comp [subComponentProperty]="title" (subComponentEvent)="processEvent($event)"></app-sub-comp>


<number [min]="0" [max]="100" [value]="6" (valueOut)="value=$event.toString()"></number>
<p>Valor del subcomponente Number (solo si es válido):{{value}}</p>

<number (valueOut)="valor=$event.toString()"></number>
<p>Valor:{{valor}}</p>

<app-sub-comp-jrv  (valueOut)="processEvent($event)"></app-sub-comp-jrv>

<hr>

<h2>Ejercicio CRUD</h2>
<app-crud></app-crud>

<hr>

<hr>

<h2>Ejercicio CRUD JRV</h2>
<app-crud-jrv></app-crud-jrv>

<hr>

<h2>Zona cambiable por rutas de componentes</h2>
<router-outlet></router-outlet>

<hr>

<h2>Pipe: filtros</h2>
<app-pipe></app-pipe>

<hr>

<h2>Observer</h2>
<app-observer></app-observer>

<hr>

<h2>Observer JRV</h2>
<app-observer-jrv></app-observer-jrv>

<hr>

<h2>API response</h2>
<app-api-response></app-api-response>

<hr>